.mainfooter{
    margin-top: 4%;
    background-color: #05274b;
    color: white;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer{
        a{
            color: blue;
        }
    }

}