.section2 div{
    margin-top: 74px;
    margin-left: -47%;
    h2 {
        span{
            border-bottom: 2px solid #384aeb;
            padding-bottom: 8px;
        }
    }
}
h2{
    font-size: 36px;
    font-weight: 600;
    font-family: "Oswald",sans-serif;
color: #222;
line-height: 1.1;
}
p{
    margin-bottom: 3px;
    color: #777;
font-family: "Roboto",sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 1.667;
}

.cards{
    gap: 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6%;
    .cardd{
       
        width: 285px;
        height: 430px;

        .row{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .col-sm-4{
            margin-top: 28px;
        }
    }
}
.card1{
    margin-left: -39px;
    img{
        width: 255px;
        height: 271px;
    }
}

.button-90 {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #a7cedc;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 3px -1px 31px rgb(0 0 0 / 20%);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}
.searchbtn{
    display: flex !important;
    flex-direction: row !important;
    margin-left: 50% !important;
    margin-top: -3% !important;
}